*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #eae6e6;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px 30px;
    overflow-x: hidden;
}

.card-pembayaran {
    width: fill;
    max-width: 900px;
}

.form-input {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

.form-control {
    outline: none;
    border: none;
    box-shadow: none;
    width: 100%;
}

input[type=number] {
    -moz-appearance: textfield;
}

label.label {
    position: absolute;
    top: 16px;
    left: 15px;
}

.form-input.data {
    width: 100%;
}

.pr {
    transform: translate(10px, 5px);
    user-select: none;
}

.select-placeholder {
    position: relative;
}

.select-placeholder select {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    width: 100%;
}

.select-placeholder .placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px; /* Sesuaikan dengan posisi yang diinginkan */
    color: #6c757d; /* Sesuaikan dengan warna placeholder */
    pointer-events: none;
    z-index: 0;
}

.select-placeholder select:focus + .placeholder {
    display: none;
}


/* checkbox */
.checkbox {
    position: relative;
}
.contain {
    cursor: pointer;
    top: 0;
    z-index: 2;
  }
  
  .contain input {
    display: none;
  }
  
  .contain svg {
    overflow: visible;
  }
  
  .path {
    fill: none;
    stroke: rgb(77, 77, 77);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
    transition: all .5s ease;
  }
  
  .contain input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
    stroke: lightgreen;
  }
  

.btn {
    transition: all .3s ease;
}

/* breakpoint */
@media screen and (max-width: 942px) {
    
}